.header-p{
    margin:0;
}

.icon-position{
    margin-top:auto;
    margin-bottom: auto;
}

.flex-container{
    display:flex;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;   
  padding: 10px;
}


.fa-ellipsis-vertical {
  margin-top: 17px;
}


.whole-post{
    width: 30%;
    background-color: lightskyblue;
    margin-left:auto;
    margin-right:auto;
    margin-top: 8%;
    border: 1px solid black;

}


.card-image{
    width:100%;
}

.fa-html5 {
   margin-top: 19px;
}


.icon-bar{
  display: flex;
  justify-content: space-between; /* Take my children (icon-left, icon-right) and push them apart. (children of icon-bar*/
  align-items: center;
  width: 100%; 
}

